<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <table>
        <thead>
        <tr>
            <th colspan="2">Nom</th>
            <th colspan="2">Age</th>
            <th colspan="2">Ville</th>
        </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < reports.length; i++) { %>
                <tr>
                    <td><%= title %></td>
                    <td>w<%= title %></td>
                    <td><%= title %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>
